<!DOCTYPE html>
<html>
<head>
  <title>POP STORE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="/5-beautiful-bootstrap-headers/assets/css/Header-Nightsky.css">
  <link rel="stylesheet" type="text/css" href="/freebie-bootstrap-footers/assets/css/Footer-with-button-logo.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i" rel="stylesheet">

  <link rel="stylesheet" href="spring/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="spring/css/animate.css">

  <link rel="stylesheet" href="spring/css/owl.carousel.min.css">
  <link rel="stylesheet" href="spring/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="spring/css/magnific-popup.css">

  <link rel="stylesheet" href="spring/css/aos.css">

  <link rel="stylesheet" href="spring/css/ionicons.min.css">

  <link rel="stylesheet" href="spring/css/flaticon.css">
  <link rel="stylesheet" href="spring/css/icomoon.css">
  <link rel="stylesheet" href="spring/css/style.css">


  <style>
    .container1{
      height: 600px;
      padding: 140px 0px 140px 0px;

    }
    .container3{
      height: 400px;
      margin: 20px 0px 20px 0px;
    }
    .container4{
      height: 100px;
      padding-top: 28px;
    }

    h4{
      line-height: 74px;
      font-size: 22px;
    }
    h7{
      font-size: 24px;
    }

    header {
      position: relative;
      background-color: #ffffff;
      height: 100vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }
    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    header .container {
      position: relative;
      z-index: 2;
    }

    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }

  </style>
</head>
<body>



<nav class="navbar navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container d-flex align-items-stretch">
    <div class="col-3 d-flex align-items-center">
      <a class="navbar-brand" href="/index" style="font-size:40px;">POP STORE</a>
    </div>
    <div class="col-9 d-flex align-items-center text-right">
      <ul class="ftco-social mt-2 mr-3">
        <!--<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>-->
        <!--<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>-->
        <!--<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>-->
      </ul>

      <button class="navbar-toggler d-flex align-items-center" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="pt-1 mr-1">Menu</span> <span class="oi oi-menu"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="ministry.html" class="nav-link">Ministries</a></li>
        <li class="nav-item"><a href="sermons.html" class="nav-link">Sermons</a></li>
        <li class="nav-item"><a href="events.html" class="nav-link">Upcoming Events</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<!--<div class="hero-wrap js-fullheight" style="background-image: url('5-beautiful-bootstrap-headers/assets/img/back35.jpg');" data-stellar-background-ratio="0.5">-->
<!--<div class="hero-wrap js-fullheight">-->
<!--<video autoplay loop poster ="5-beautiful-bootstrap-headers/assets/img/back35.jpg">-->
  <!--<source src="Photographer-91.mp4" type="video/mp4">-->
<!--</video>-->
<!--<div id="videoEle">-->

<header>
<div class="overlay "></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../image/photog.mp4" type="video/mp4">
    </video>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-0" style="font-size:70px;font-weight:500;">POP STORE</h1>
        <h2 class="subheading mb-4 pb-1" style="font-size:20px;">블록체인 기반의 스톡이미지 거래 플랫폼</h2>
        <p><a class="btn btn-white py-3 px-4" style="width:200px;font-size:20px;font-weight:bold;" onclick="movelogin()">LOGIN</a>
          <a class="btn btn-white py-3 px-4" style="width:200px;font-size:20px;font-weight:bold;" onclick="movesignup()">SIGN UP</a></p>
        <!--<div class="mouse" >-->
          <!--<a href="#" class="mouse-icon" >-->
            <!--<div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
</header>


<section class="ftco-daily-verse bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 daily-verse text-center p-5" style="margin:40px 0px 20px 0px;">
        <h4 class="ftco-animate">" POP STORE는 블록체인 기반의 이미지 저장 플랫폼입니다.<br>
          사용자가 창작한 팬아트나 직접 촬영한 사진들을 보관하고,<br>
          다른 사용자들과 소유권을 편리하게 거래할 수 있습니다. "</h4>
        <h4 class="h5 mt-4 font-weight-bold ftco-animate">&mdash; POP STORE -</h4>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <h1 class="mb-2" style="font-size:47px;font-weight:500; margin-top:40px;"><span class="px-4">FEATURES</span></h1>
        <hr style="border: solid 2px gray">
        <span class="subheading" style="font-weight:200; font-size:24px;">POP STORE Services</span>
      </div>
    </div>

      <div class="col">
        <div class="d-flex services ftco-animate text-lg-right" style="margin-bottom:20px; margin-top: 40px;">
          <!--<div class="icon order-lg-last d-flex align-items-center justify-content-center"><span class="flaticon-praying"></span>-->
          <!--</div>-->
          <!--<img src="protect-8.png" alt="My Image">-->
          <div class="icon order-lg-last d-flex align-items-center justify-content-center" style="width:180px;height:180px">
            <img src="../image/variousw-8.png" width="80px" height="80px" alt="My Image">
          </div>
          <div class="media-body pr-lg-5">
            <h3 class="heading mb-3" style="font-size:34px; font-weight:500;padding:30px 30px 0px 30px;">VARIOUS IMAGES</h3>
            <p style="font-size:20px; padding:0px 30px 0px 30px;">Anyone can create their own image by decorating or selling their own gallery without any special inspection criteria</p>
          </div>
        </div>
        <!--<div class="d-flex services ftco-animate text-lg-left">-->
          <!--<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-social-care"></span>-->
          <!--</div>-->
        <div class="d-flex services ftco-animate text-lg-left" style="margin-bottom:20px; margin-top: 40px;">
          <div class="icon d-flex align-items-center justify-content-center" style="width:180px;height:180px; margin-top:60px;">
            <img src="../image/infow-8.png" width="80px" height="80px" alt="My Image">
          </div>
          <div class="media-body pl-lg-5" style="margin-top:40px;">
            <h3 class="heading mb-3" style="font-size:34px; font-weight:500;padding:30px 30px 0px 30px;">COPYRIGHT PROTECTION</h3>
            <p style="font-size:20px; padding:0px 30px 0px 30px;">Record information about copyright holders and owners to protect their rights and embed watermarks to prevent unauthorized use</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="d-flex services ftco-animate text-lg-right" style="margin-bottom:20px;margin-top: 40px;">
          <div class="icon order-lg-last d-flex align-items-center justify-content-center"style="width:180px;height:180px; margin-top:60px;">
            <img src="../image/historyw-8.png" width="80px" height="80px" alt="My Image">
          </div>
          <div class="media-body pr-lg-5" style="margin-top:40px;">
            <h3 class="heading mb-3" style="font-size:34px; font-weight:500;padding:30px 30px 0px 30px;">IMAGE INFORMATION HISTORY MANAGEMENT</h3>
            <p style="font-size:20px; padding:0px 30px 0px 30px;">Transparently manage seller and buyer information and ownership transfer history for image transactions</p>
          </div>
        </div>

        <div class="d-flex services ftco-animate text-lg-left" style="margin-bottom:80px;margin-top: 40px;">
          <div class="icon d-flex align-items-center justify-content-center"style="width:180px;height:180px; margin-top:60px;">
            <img src="../image/promotew-8.png" width="80px" height="80px" alt="My Image">
          </div>
          <div class="media-body pl-lg-5" style="margin-top:40px; ">
            <h3 class="heading mb-3" style="font-size:34px; font-weight:500;padding:30px 30px 0px 30px;">PROMOTING CREATIVE ACTIVITIES</h3>
            <p style="font-size:20px; padding:0px 30px 0px 30px;">It is a system where points are paid every time you register an image to promote creative activities of the creator</p>
          </div>
        </div>
      </div>

  </div>
</section>

<% include ../public/stylesheets/footer %>



<script src="spring/js/jquery.min.js"></script>
<script src="spring/js/jquery-migrate-3.0.1.min.js"></script>
<script src="spring/js/popper.min.js"></script>
<script src="spring/js/bootstrap.min.js"></script>
<script src="spring/js/jquery.easing.1.3.js"></script>
<script src="spring/js/jquery.waypoints.min.js"></script>
<script src="spring/js/jquery.stellar.min.js"></script>
<script src="spring/js/owl.carousel.min.js"></script>
<script src="spring/js/jquery.magnific-popup.min.js"></script>
<script src="spring/js/aos.js"></script>
<script src="spring/js/jquery.animateNumber.min.js"></script>
<script src="spring/js/scrollax.min.js"></script>
<script src="spring/js/main.js"></script>


<script type="text/javascript">
  
  $(function(){

    $('html,body').animate({
            scrollTop: 0
            }, 500);
  })
      function movelogin() {
    location.href = "/login";
    }

    function movesignup() {
      location.href = "/signup";
    }
</script>
<!--<script src="./js/jquery-1.11.1.min.js"></script>-->
<!--<script src="./js/imagesloaded.pkgd.min.js"></script>-->
<!--<script src="./js/modernizr-2.5.3.min.js"></script>-->
<!--<script src="./js/bigvideo.js"></script>-->
<!--<script src="./js/video.js"></script>-->
<!--<script>-->
  <!--var BV = new $.BigVideo({useFlashForFirefox:false, container:$('#videoEle')});-->
  <!--// 비디오나 배경을 노출할 엘리먼트를 선택합니다.-->
  <!--//$('#videoEle')는 html 태그중에 <div id="videoEle"></div> 를 말하는 것입니다.-->
  <!--BV.init();-->
  <!--if (Modernizr.touch) {-->
    <!--BV.show('5-beautiful-bootstrap-headers/assets/img/back35.jpg');-->
    <!--//모바일일 경우 비디오 대신 대체할 이미지입니다.-->
  <!--} else {-->
    <!--BV.show(-->
            <!--{ type: "video/mp4",  src: "./file/SampleVideo_360x240_1mb.mp4", doLoop:true },-->
            <!--{ type: "video/webm", src: "./file/SampleVideo_360x240_1mb(1).webm", doLoop:true },-->
            <!--// { type: "video/ogg",  src: "./file/SampleVideo_360x240_1mb.ogv", doLoop:true }-->
    <!--);-->
    <!--//웹브라우저마다 지원하는 비디오 형식이 다르기 때문에 다양하게 만들어서 제공해야합니다.-->
    <!--//변환은 다음팟인코더나, 카카오인코더를 이용하세요.-->
    <!--//옵션중에 doLoop는 영상 반복을 의미합니다. true는 영상 반복, false는 반복 안함입니다.-->
    <!--BV.getPlayer().volume(0);-->
    <!--//사운드를 0 즉 음소거 상태로 만듭니다.-->
  <!--}-->
<!--</script>-->
</body>
</html>
